.logo {
  margin-left: 2rem;
  height: 3.25rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    margin-right: -3.25rem;
    padding: .7rem 2rem;
    width: 90%;
    border-radius: 10rem;
    border: none;
    background-color: var(--color-grey-light-2);
    transition: all .2s;

    &:focus {
      width: 100%;
      outline: none;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    background-color: var(--color-grey-light-2);
    border: none;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;

    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }


  &__icon-box {
    position: relative;
    fill: var(--color-grey-dark-2);
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }

  &__notification {
    font-size: 0.8rem;
    line-height: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50%;

    position: absolute;
    top: 1.35rem;
    right: 1.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: var(--primary-color);
    transform: scaleY(0);
    transition: transform .2s,
                width .4s cubic-bezier(1,0,0,1) .2s,
                background-color .2s;
  }

  &__item:active::before {
    background-color: var(--primary-color-light);
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__link:link,
  &__link:visited {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--color-grey-light-1);
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 10;
  }

  &__icon {
    margin-right: 2rem;
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
  }
}

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;
}

.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
  }

  &__stars {
    display: flex;
    margin-right: auto;
  }

  &__icon-star,
  &__icon-location {
    fill: var(--primary-color);
    width: 1.75rem;
    height: 1.75rem;
  }

  &__icon-location {
    margin-right: .5rem;
  }

  &__location {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }

  &__rating {
    margin-left: 3rem;
    padding: 0 2.25rem;
    background-color: var(--primary-color);
    color: #fff;
    align-self: stretch;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;
  }

  &__rating-count {
    font-size: .8rem;
    text-transform: uppercase;
  }
}

.btn-inline {
  color: var(--primary-color);
  border: none;
  background-color: transparent;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all .2s;

  &:hover {
    color: var(--color-grey-dark-1);
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

.paragraph:not(:last-child) {
  margin-bottom: 2rem;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);

  &__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;

    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      margin-right: .7rem;
      background-image: url(../img/chevron-thin-right.svg);
      background-size: cover;
      width: 1rem;
      height: 1rem;
    }
  }
}

.recommend {
  font-size: 1.2rem;
  color: var(--color-grey-dark-3);

  display: flex;
  align-items: center;

  &__count {
    margin-right: auto;
  }

  &__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;

    &:not(:last-child) {
      margin-right: -1.5rem;
    }
  }
}

.review {

  background-color: #fff;

  &__text {

  }

  &__user {

  }

  &__user-box {

  }

  &__user-name {

  }

  &__user-date {

  }

  &__rating {

  }
}